run = "npm install; npm run serve"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]
