.feature:not(li),
.feature:not(li) button {
    position: relative;
    padding: 5px;
    border-radius: var(--border-radius);
    border: 2px solid rgba(0, 0, 0, 0.125);
    margin: var(--feature-margin);
    box-sizing: border-box;
    color: var(--feature-foreground);
    z-index: 0;
    transition: all 0.5s, z-index 0s 0.5s;
}

.can,
.can button {
    background-color: var(--layer-color);
	cursor: pointer;
}

.can:hover,
.can:hover button {
    transform: scale(1.15, 1.15);
    box-shadow: 0 0 20px var(--points);
    z-index: 1;
    transition: all 0.5s, z-index 0s;
}

.locked,
.locked button {
    background-color: var(--locked);
    cursor: not-allowed;
}

.bought,
.bought button {
    background-color: var(--bought);
    cursor: default;
}
