.modifier-container {
    display: flex;
}

.modifier-container:nth-child(2n) {
    background: var(--raised-background);
}

.modifier-amount {
    flex-basis: 100px;
    flex-shrink: 0;
}

.modifier-description {
    flex-grow: 1;
}
