.modifier-container {
    display: flex;
    padding: 1px 8px;
}

.modifier-container:nth-child(2n) {
    background: var(--raised-background);
}

.modifier-amount {
    flex-basis: 100px;
    flex-shrink: 0;
    text-align: right;
}

.modifier-description {
    flex-grow: 1;
}
