#app .simplebar-scrollbar:before {
	background:  #eee;
}

.simplebar-horizontal.simplebar-hover,
.simplebar-horizontal.simplebar-hover .simplebar-scrollbar {
	height: 22px;
}
.simplebar-vertical.simplebar-hover {
	width: 22px;
}
