.table {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.table + .table {
    margin-top: 10px;
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	max-width: 100%;
	margin: 0 10px;
}

.row > * {
    margin: 0;
    display: flex;
}

.col {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 10px 0;
}
