:root {
    color-scheme: dark;
}

* {
	transition-duration: 0.5s;
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	margin: auto;
	text-size-adjust: none;
}

*:focus {
	outline: none;
}

body {
	overflow: hidden;
	transition: none;
	text-align: center;
}

html, body, #app {
	min-height: 100%;
	height: 100%;
}

h1, h2, h3, b, input {
	display: inline;
}

button {
	color: black;
}

a,
.button,
.link {
	display: block;
	color: var(--link);
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

a:hover,
.button:hover,
.link:hover {
	text-shadow: 5px 0 10px var(--link),
		-3px 0 12px var(--link);
}

.button:disabled {
	opacity: .5;
	cursor: not-allowed;
}
.button:disabled:hover {
	text-shadow: none;
}

ul {
	list-style-type: none;
}

.Vue-Toastification__toast {
	margin: unset;
}
